<%= render "layouts/navbar" %>

<h1>Confirm Bills</h1>

<table class="table table-striped">
  <tr>
    <th>Bill Name</th>
    <th>Amount</th>
    <th>Actions</th>
  </tr>

<% current_user.owed_bills.each do |bill| %>
    <tr>
      <td><%= bill.cart.cart_name %></td>
      <td><%= number_with_precision(bill.amount, :precision => 2) %></td>
      <td>
        <% if bill.status == 'unpaid' %>
          Not Paid
        <% elsif bill.status == 'says_paid' %>
          <%= link_to "Confirm Payment", status_confirmed_path(id: bill.id), method: :post %>
        <% else %>
          Payment Received
        <% end %>
      </td>
    </tr>
<% end %>

</table>



