<%= render "layouts/navbar" %>

<h1>All Carts</h1>

<table class="table table-striped">
  <tr>
    <th>Cart Name</th>
    <th>Finalized?</th>
    <th>Actions</th>
    <th></th>
  </tr>

<% @carts.each do |cart| %>
  <tr>
  
    <td>
      <%= link_to cart.cart_name, cart %>
    </td>

    <td>
      <% if cart.finalized %>
        Yes
      <% else %>
        No
      <% end %>
    </td>

    <td>
    <%= button_to 'Delete', cart_path(cart), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
    </td>

  </tr>
<% end %>
</table>

<br />

<div class="form-actions">
  <%= link_to 'Create a New Cart', new_cart_path, :class => 'btn' %>
</div>
