<li>
  This is an item
  <span class="content"><%= item.name %></span>
  <span class="timestamp">
    Quantity: <%= item.quantity %>
  </span>
  <span class="timestamp">
    Price: <%= item.unit_price %>
  </span>
</li>