/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
@import "bootstrap";


/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  padding-bottom: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

body{
    text-align: center;
}
body table{
    float:center;
    margin: 0 auto;
}
#groceries_image {
    max-width: 10%;
}
#navbar>ul{
    list-style: none;
    margin:0;
    padding:0;
}
#navbar>ul>li{
    display: inline;
    font-size: 20px;
}
.navbar-comestibles{
    float: left;
}
.navbar-link{
    float:right;
}
.blurb {
    text-align: center;
    max-width: 300px;
    margin: 15px auto 15px auto;
}

