<div id="navbar">
    <ul>
        <li>
            <a href="./" class="navbar-comestibles">Comestibles</a>
        </li>
    </ul>
    <ul class="navbar-link">
        <!-- <li>
          <a href="./grocery_lists">Groups</a> |
        </li> -->
        <li>
          <a href="./grocery_lists">Lists</a> |
        </li>
        <li>
          <a href="./bills">My Bills</a> |
        </li>
        <li>
          <a href="./settings">Settings</a> |
        </li>
        <li>
          <a href="./logout">Logout</a>
        </li>
    </ul>
</div>
